* {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;

}

body {
    background-color: rgb(220, 219, 219);
    transition: 0.5s;
}

#text {
    color: black;
}

#quadrado1 {
    width: 20vw;
    height: 20vw;
    background-color: rgb(229, 100, 37);
    position: absolute;
    left: 16vw;
    top: 5vw;
    border: 2px solid white;
}

#quadrado2 {
    width: 20vw;
    height: 20vw;
    background-color: rgb(96, 91, 87);
    position: absolute;
    left: 7vw;
    top: 22vw;
    border: 2px solid white;
}

#quadrado3 {
    width: 50px;
    height: 50px;
    background-color: rgb(96, 91, 87);
    position: absolute;
    top: 0px;
    right: 0px;

    border-radius: 5px;
    border: 2px solid white;
}

#quadrado4 {
    width: 20vw;
    height: 20vw;
    background-color: rgb(96, 91, 87);
    position: absolute;
    left: 7vw;
    top: 22vw;
    border: 2px solid white;
}

#quadrado5 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(96, 91, 87);
    position: absolute;
    left: 35vw;
    top: 30vw;
    border-radius: 20px;
    border: 2px solid white;
}

#quadrado6 {
    width: 1vw;
    height: 1vw;
    background-color: orangered;
    position: absolute;
    left: 35vw;
    top: 32vw;
    border-radius: 20px;
    border: 2px solid white;
}

#quadrado7 {
    width: 1vw;
    height: 1vw;
    background-color: rgb(1, 80, 1);
    position: absolute;
    left: 35vw;
    top: 28vw;
    border-radius: 20px;
    border: 2px solid white;
}

#imagem-fundo {
    width: 23vw;
    height: auto;
    position: absolute;
    left: 10vw;
    top: 8vw;
    border-radius: 10px;
    border: 2px solid white;
}

#titulo {
    position: absolute;
    display: flex;
    left: 70vw;
    top: 3vw;
    font-size: 80px;
}

#numero1 {
    position: absolute;
    display: flex;
    left: 83vw;
    top: 16vw;
    font-size: 80px;
    opacity: 0.5;
}

#numero2 {
    position: absolute;
    display: flex;
    left: 83vw;
    top: 25vw;
    font-size: 80px;
    opacity: 0.5;
}

#desc {
    position: absolute;
    display: flex;
    left: 40vw;
    top: 18vw;
    font-size: 24px;
    max-width: 40vw;

}

#desc2 {
    position: absolute;
    display: flex;
    left: 40vw;
    top: 27vw;
    font-size: 24px;
    max-width: 40vw;
}

#risco1 {
    position: absolute;
    display: flex;
    width: 8px;
    height: 110px;
    left: 80vw;
    top: 19vw;
    background: rgb(55, 87, 56);
}

#risco2 {
    position: absolute;
    display: flex;
    width: 8px;
    height: 110px;
    left: 80vw;
    top: 28vw;
    background: rgb(55, 87, 56);
}

#risco3 {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 5px;
    background-color: rgb(55, 87, 56);
    left: 40vw;
    top: 10vw;
}

#risco4 {
    position: absolute;
    display: flex;
    width: 25vw;
    height: 5px;
    background-color: rgb(55, 87, 56);
    left: 40vw;
    top: 11vw;
}

#risco5 {
    position: absolute;
    display: flex;
    width: 10vw;
    height: 5px;
    background-color: rgb(55, 87, 56);
    left: 40vw;
    top:12vw;
}

#rampa {
    width: 20vw;
    height: 25vw;
    background: rgb(55, 87, 56);
    transform: skewY(-50deg);
    position: absolute;
    left: 80vw;
    top: 35vw;
    border: 4px solid black;
}


.switch {
    width: 35px;
    /**/
    height: 20px;
    /**/
    background-color: #4d4d4d;
    /**/
    border-radius: 10px;
    /**/
    position: relative;
    /**/
    cursor: pointer;
    /**/
    margin: 10px;
    /**/
}

.switch .indicador {
    width: 20px;
    /**/
    height: 20px;
    /**/
    background-color: black;
    /**/
    border-radius: 50%;
    /**/
    transform: scale(.9);
    /**/
    position: absolute;
    /**/
    left: 0;
    /**/
    transition: 0.5s;
    /**/

}

.switch.light {
    background-color: rgb(77, 77, 77);
    /**/

}

.switch.light .indicador {
    left: 15px;
    /**/
    background-color: rgb(98, 93, 93);
    /**/
}

body.light {
    background-color: rgb(36, 36, 36);

}

body.light #risco1 {
    background-color: orangered;
}

body.light #risco2 {
    background-color: orangered;
}

body.light #rampa {
    background-color: orangered;
    transition: 0.5s;
    border: 4px solid white;
}

body.light #text {
    color: white;
}

body.light #risco3 {
    background-color: orangered;
}
body.light #risco4{
    background-color: orangered;
}
body.light #risco5{
    background-color: orangered;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}