:root{
    --cor-verdestara: rgb(55, 87, 56);
    --cor-laranjastara: rgb(229, 100, 37);
    --cor-chumbostara: rgb(96, 91, 87);
}
* {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    user-select: none;
}

body {

    color: black;
    background: linear-gradient(to right,
            rgb(240, 238, 238) 78.88%,
            rgb(0, 0, 0) 78.88% 100%);
    user-select: none;
    transition: 1.5s;
}


.switch {
    width: 35px;
    /**/
    height: 20px;
    /**/
    background-color: #4d4d4d;
    /**/
    border-radius: 10px;
    /**/
    position: relative;
    /**/
    cursor: pointer;
    /**/
    margin: 10px;
    /**/
}

.switch .indicador {
    width: 20px;
    /**/
    height: 20px;
    /**/
    background-color: black;
    /**/
    border-radius: 50%;
    /**/
    transform: scale(.9);
    /**/
    position: absolute;
    /**/
    left: 0;
    /**/
    transition: 0.5s;
    /**/

}

.switch.light {
    background-color: rgb(77, 77, 77);
    /**/

}

.switch.light .indicador {
    left: 15px;
    /**/
    background-color: white;
    /**/
}

body.light {

    color: white;
    background: linear-gradient(to right,
            rgb(0, 0, 0) 78.88%,
            rgb(240, 238, 238) 78.88% 100%);
    transition: 0.5s;


}

body.light #quadrado {
    background-color: rgb(95, 95, 95);
    transition: 0.5s;
}

body.light #quadrado2 {
    background-color: orangered;
    transition: 0.5s;
}

body.light #quadrado6 {
    background-color: orangered;
    transition: 0.5s;
    border: 2px solid white;
}

body.light #risco {
    background-color: rgb(1, 80, 1);
    transition: 0.5s;
}

body.light #nome-vertical {
    color: black;
    transition: 0.5s;
}

body.light #questionario {
    background-color: rgba(255, 255, 255, 0.411);
    border: 2px solid white;
}
body.light #questionario:hover{
    background-color: var(--cor-laranjastara);
}
body.light #start{
    background-color:rgba(255, 255, 255, 0.411);
    border: 2px solid white;
}
body.light #start:hover{
    background-color: var(--cor-laranjastara);
}
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}