body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa 100% da altura da tela */
  position: relative;
}

/* Logo da Stara */
#stara {
  position: absolute;
  width: 5%;
  height: auto;
  left: 3%;
  top: 3%;
}

/* Texto Centralizado */
#text {
  text-align: center;
}

/* Botão "Sobre" centralizado abaixo do texto */
#sobre {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}
#projetos{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}
/* Título "Portfólio" */
#portfólio {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 2rem;
  color: white;
}
#recado{
  position: absolute;
  top: 90%;
  left: 1%;
}