/* Define a fonte padrão para todos os elementos como "Space Mono", estilo monoespaçado, em negrito e normal */
:root {
    
    --cor-verdestara: rgb(55, 87, 56);
    --cor-laranjastara: rgb(229, 100, 37);
    --cor-chumbostara: rgb(96, 91, 87);
}

* {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    overflow-x: hidden;
}

/* Define o fundo do corpo da página e adiciona uma transição suave nas mudanças de estilo */
body {
    background-image: url(../../img/fundo.jpg);
    background-size: cover;
    background-position: end;
    background-repeat: no-repeat;
    color: white;
    /* Suaviza a transição de estilos */
}


/* Fonte regular (peso normal, sem itálico) */
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* Fonte em negrito (peso 700, sem itálico) */
.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

/* Fonte itálica (peso normal, com itálico) */
.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

/* Fonte negrito itálico (peso 700, com itálico) */
.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

@media (max-width: 600px) {
    #quadrado {
        width: 90%;
        height: 100px;
    }
}

/* Tablets e acima */
@media (min-width: 601px) {
    #quadrado {
        width: 60%;
        height: 150px;
    }
}