:root {
    --cor-verdestara: rgb(55, 87, 56);
    --cor-laranjastara: rgb(229, 100, 37);
    --cor-chumbostara: rgb(96, 91, 87);
    --cor-letra-nav: white;
    --cor-letra-corpo:black;
}

body {
    overflow-x: hidden;
    margin: 0rem;
    padding: 0rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

nav {
    position: absolute;
    display: flex;
    background-color: var(--cor-chumbostara);
    width: 85%;
    justify-content: center;
    color: var(--cor-letra-nav);
    margin-left: 10rem;
    border-radius: 10px;
}

#logo-stara {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 12rem;
    left: 60rem;
    top: 5rem;
}

#risco_01 {
    position: absolute;
    display: flex;
    width: 113rem;
    height: 3px;
    justify-content: center;
    align-content: center;
    top: 10rem;
    left: 10rem;
    background-color: var(--cor-laranjastara);
    opacity: 0.6;
}

#risco_02 {
    position: absolute;
    display: flex;
    width: 113rem;
    height: 3px;
    justify-content: center;
    align-content: center;
    background-color: var(--cor-verdestara);
    top: 15rem;
    left: 10rem;
}
.container-de-procura{
    position: absolute;
    display: flex;
    border-radius: 10px;
    height: 2rem;
    top: 12rem;
    left: 12rem;
}
.container-de-procura input[type="text"]{
    width: 100%;
      padding: 10px 40px 10px 40px; /* espaço para a lupa */
      font-size: 16px;
      border-radius: 20px;
      border: 2px solid #ccc;
      outline: none;
      transition: border 0.3s;
}
.container-de-procura input[type="text"]:focus{
    border-color: orangered;
}
.links{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
#Inicio{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 55rem;
    top: 12rem;
    gap: 12rem;
}
#Loja{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 60rem;
    top: 12rem;
}
#Sobre{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 65rem;
    top: 12rem;
}
#Blog{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 70rem;
    top: 12rem;
}
#Contato{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 74rem;
    top: 12rem;
}
#login{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 110rem;
    top: 12rem;
}
#carrinho{
    display: flex;
    position: absolute;
    text-decoration: none;
    color: var(--cor-letra);
    left: 116rem;
    top: 12rem;
}